PORT=4000

# MongoDB
MONGO_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Telegram bot
BOT_TOKEN=
BOT_INTERNAL_SECRET=

# Login kod muddati (daqiqa)
LOGIN_CODE_TTL_MINUTES=10

# CORS
CORS_ORIGIN=http://localhost:3000
